
.qr-box {
	margin: 0 auto;
	text-align: center;
}

.qr-box img {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: auto;
}

.qr-box a {
	color: #999;
	color: white;
	text-decoration: none;
}
.qr-box a:hover,
.qr-box a:focus {
	text-decoration: underline;
}