.content-width {
	margin: 0 auto;
	width: 90%;
	max-width: 70em;
}


.user-color {
	margin: 0 0 2em;
	height: 1em;
}

.colorpicker ul {
	margin: 1em auto;
	text-align: cente;r
}

.color-list li {
	display: inline-block;
	margin: 0 0.5em;
}

.color-list a {
	display: block;
	width: 6em;
	height: 4em;
	border-radius: 5px;
}

form {
	margin: 1em;
	text-align: center;
}
