/*
* shared.css
* css that's applicable for all type of clients of the app
*/

/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	.fList{list-style:none}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
/*-- End reset --*/


@font-face {
	font-family:"VWHeadlineOT";
	src:url("fonts/vwtextweb-light.eot");
	src:local("VWText-Regular"),url("fonts/vwtextweb-light.woff") format("woff"),url("fonts/vwtextweb-light.svg") format("svg"),url("fonts/vwtextweb-light.ttf") format("ttf");
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:"VWHeadlineOT";
	src:url("fonts/vwtextweb-regular.eot");
	src:local("VWText-Regular"),url("fonts/vwtextweb-regular.woff") format("woff"),url("fonts/vwtextweb-regular.svg") format("svg"),url("fonts/vwtextweb-regular.ttf") format("ttf");
	font-weight:600;
	font-style:normal
}
@font-face {
	font-family:"VWHeadlineOT";
	src:url("fonts/vwtextweb-bold.eot");
	src:local("VWText-Bold"),url("fonts/vwtextweb-bold.woff") format("woff"),url("fonts/vwtextweb-bold.svg") format("svg"),url("fonts/vwtextweb-bold.ttf") format("ttf");
	font-weight:bold;
	font-style:normal
}


html {
	font-size: 62.5%;/* 10px */
}

body {
	font-family: VWHeadlineOT, Helvetica, arial, sans-serif;
	font-size: 1.6rem;
	color: #666;
	line-height: 1.75;
}

h1 {
	font-size: 3.6rem;
	font-weight: bold;
	text-align: center;
}


/*-- Start forms --*/
	
	input[type="text"],
	input[type="submit"] {
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0.25em 0.5em;
		-webkit-appearance: none;
	}

	input[type="submit"] {
		border-color: transparent;
		padding: 0.5em 2em;
		background: #1f81b1;
		color: white;
	}
	
/*-- End forms --*/


/*-- Start utility classes --*/
	
	.u-hidden {
		display: none;
	}
	
/*-- End utility classes --*/


/*-- Start debug classes --*/
	
	.id-box {
		color: #ccc;
	}
	
/*-- End debug classes --*/