/*
* hub.css
* css that's only applicable for hubs of the app
*/

.viewer-container {
	margin: 0 auto;
	max-width: 821px;
}

.viewer {
	width: 100%;
	height: 0;
	padding-bottom: 62.485%;
	position: relative;
}

.viewer img {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: auto;
}

.viewer img.active {
	display: block;
}

.debug-stepper {
	/*margin-top: 600px;*/
}


.debug-stepper {
	display: none;
}

div.qr-box {
	position: relative;
	margin-top: -20em;
}

.qr-code {
	margin: 0 auto;
	width: 16em;
	border-radius: 0.5em;
	padding: 2em 1em;
	background: rgba(0,0,0,0.5);
	color: white;
}